<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head")%>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- /Header -->

	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12"> 
				<form action="/users/login" method="POST" class="loginForm">
					<label class="form-label" for="email">Mail</label><br>
				<input class="form-input" form-input type="email" id="email" name="email" required><br>
			 
				<label class="form-label" for="password">Contraseña</label><br>
				<input class="form-input" type="password" id="password" name="password" required><br>
			 
				<div class="recordarme">
					<input class="botonRecordar" type="checkbox" id="remember" name="remember">
					<label class="form-label" for="remember">Recordarme</label><br>
				</div>

				<button type="submit" class="buy-now-button">Iniciar sesión</button>
				</form>
				
			</div>
			
	<!-- footer -->
	<%- include("./partials/footer")%>
	<!-- /footer -->
</body>

</html>